<nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">My Flask App</a>
    <div >
      <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row;">
        <!-- <li class="nav-item mr-4">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item mr-4">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="/articles">Articles</a>
        </li>
      </ul>
    </div>
  </nav>